:host ::ng-deep .mat-tab-header,
:host ::ng-deep .mat-tab-label-container,
:host ::ng-deep .mat-tab-list,
:host ::ng-deep .mat-tab-label,
mat-tab-group,
:host ::ng-deep .mat-tab-labels {
  background-color: #18191b;
  min-height: 8vh;
  border: 0;
}

::ng-deep .mat-tab-label {
  color: white;
}

.tab-icon {
  margin-right: 0.4rem;
}

:host ::ng-deep .mat-tab-list .mat-ink-bar {
  height: 1vw;
  color: white;
}

:host ::ng-deep .mat-tab-body-wrapper .mat-tab-body {
  background-color: white;
}

// Tab arrows
:host ::ng-deep .mat-tab-header-pagination .mat-tab-header-pagination-chevron {
  border-color: white;
  height: 1rem;
  width: 1rem;
  z-index: 1500;
}

@media only screen and (max-width: 599px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.95vw;
  }
  :host ::ng-deep .mat-tab-label {
    font-size: 0.6rem;
    max-width: 22vw;
    min-width: initial;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.4vw;
  }
  :host ::ng-deep .mat-tab-label {
    font-size: 0.75rem;
    max-width: 20vw;
    min-width: initial;
  }
  :host ::ng-deep .mat-tab-header {
    min-height: 9.5vw;
    height: 9.5vw;
  }
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    margin-bottom: 1.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.3vw;
    margin-bottom: 0.5vw;
  }
  :host ::ng-deep .mat-tab-label {
    font-size: 0.85rem;
    min-width: initial;
    max-width: 15vw;
  }
  :host ::ng-deep .mat-tab-header {
    min-height: 5.5vw;
    height: 5.5vw;
  }
}

@media only screen and (min-width: 1280px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    margin-bottom: 0.5vw;
  }
  :host ::ng-deep .mat-tab-label {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  :host ::ng-deep .mat-tab-label {
    // font-size: 0.85rem;
    min-width: 11.25vw;
    max-width: 11.25vw;
  }
}
@media only screen and (min-width: 2560px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    margin-bottom: 1vw;
  }
  :host ::ng-deep .mat-tab-label {
    font-size: 1.5vw;
  }
}
