<section fxLayout="column" fxLayoutAlign="start stretch">
  <div class="shared-title" id="project-title">
    PROJECTS
    <hr />
  </div>
  <div id="project-card-container">
    <input checked type="radio" name="slider" id="slide1" />
    <input type="radio" name="slider" id="slide2" />
    <input type="radio" name="slider" id="slide3" />
    <input type="radio" name="slider" id="slide4" />
    <input type="radio" name="slider" id="slide5" />
    <div class="slider-wrapper">
      <div class="inner">
        <article fxLayout.lt-sm="row" fxLayoutAlign.lt-sm="space-evenly end">
          <div class="project-card s3fs">
            <div class="color-overlay mat-elevation-z24">
              <div class="ribbon">
                <a href="https://github.com/hellochrisyou/S3FS-OpenSSL-RC4-MD5">Fork me on GitHub</a>
              </div>
              <div class="project-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1vh">
                <div class="project-header">
                  <h1 class="project-title">
                    S3FS
                  </h1>
                </div>
                <div class="project-sub-title">
                  <h4 class="project-info">C, C++</h4>
                </div>
                <p class="project-desc">
                  A secure file system based on
                  <span
                    class="tooltip"
                    data-tooltip="S3FS is a FUSE filesystem application backed by amazon web services simple storage service s3fs can operate in a command mode or a mount mode. In mount mode, s3fs will mount an amazon s3 bucket (that has been properly formatted) as a local file system."
                    >S3FS </span
                  >. Encrypts/Decrypts files using the
                  <span
                    class="tooltip"
                    data-tooltip="RC4 is a symmetric key cipher and bite-oriented algorithm that encrypts PC and laptop files and disks as well as protects confidential data messages sent to and from secure websites. Output bytes require eight to 16 operations per byte. It is a stream cipher."
                    >RC4
                  </span>
                  encryption algorithm with
                  <span
                    class="tooltip"
                    data-tooltip="The MD5 message-digest algorithm is a widely used hash function producing a 128-bit hash value. It can still be used as a checksum to verify data integrity, but only against unintentional corruption."
                    >MD5
                  </span>
                  checksum (extrapolated and integrated from
                  <span
                    class="tooltip"
                    data-tooltip="OpenSSL is a robust, commercial-grade, and full-featured toolkit for the Transport Layer Security (TLS) and Secure Sockets Layer (SSL) protocols. It is also a general-purpose cryptography library."
                    >OpenSSL
                  </span>
                  ) upon uploading and downloading to and from Amazon Web Services
                  <span
                    class="tooltip"
                    data-tooltip="An Amazon S3 bucket is a public cloud storage resource available in Amazon Web Services. Amazon S3 buckets, which are similar to file folders, store objects, which consist of data and its descriptive metadata."
                    >S3
                  </span>
                  bucket.
                </p>
                <ul div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1vh">
                  <li>
                    <a
                      class="raise mat-elevation-z24"
                      href="https://github.com/s3fs-fuse/s3fs-fuse/wiki/Fuse-Over-Amazon"
                      >S3FS</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://aws.amazon.com/what-is-aws/">AWS</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://www.openssl.org/">OpenSSL</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/Oracle_VM_Server_for_x86"
                      >Oracle VM</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://www.linux.com/what-is-linux">Linux</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article>
          <div class="project-card football">
            <div class="color-overlay mat-elevation-z24">
              <div class="project-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                <div class="project-header">
                  <h1 class="project-title">
                    Fantasy Football
                  </h1>
                </div>
                <div class="project-sub-title">
                  <h4 class="project-info">HTML/CSS, Typescript, Java, Sql</h4>
                </div>

                <p class="project-desc">
                  Full-scale Server/Client multiplayer Fantasy Football website. Live
                  <span
                    class="tooltip"
                    data-tooltip="NFL API  is the primary way to read and write content to the NFL. It will allow users to find content, submit content for use in client applications and websites."
                    >NFL/API
                  </span>
                  are used to retrieve statistics for the current NFL week. Accounts are managed by
                  <span
                    class="tooltip"
                    data-tooltip="Auth0 is an authentication and authorization management platform available for the web, IoT, mobile devices and legacy apps. The platform provides adaptive multi-layer security and features a robust architecture for improved security."
                    >Auth0
                  </span>
                  and API routes and tokens are authorized via backend.
                </p>
                <ul div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1vh">
                  <li>
                    <a class="raise mat-elevation-z24" href="https://www.quora.com/What-exactly-is-Angular-2"
                      >Angular 2+</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://spring.io/projects/spring-boot">Spring Boot</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://www.quora.com/What-is-spring-hibernate"
                      >Hibernate</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://dev.mysql.com/doc/refman/8.0/en/what-is-mysql.html"
                      >MySQL</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://auth0.com/docs/getting-started/overview">Auth0</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://www.jetbrains.com/webstorm/">Webstorm</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/Eclipse_(software)"
                      >Eclipse</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article>
          <div class="project-card ecommerce">
            <div class="color-overlay mat-elevation-z24">
              <div class="ribbon">
                <a href="https://github.com/hellochrisyou/eCommerce">Fork me on GitHub</a>
              </div>
              <div class="project-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                <div class="project-header">
                  <h1 class="project-title">
                    eCommerce
                  </h1>
                </div>
                <div class="project-sub-title">
                  <h4 class="project-info">HTML/CSS, C#, Typescript, LINQ</h4>
                </div>

                <p class="project-desc">
                  Server/Client Ecommerce website with (Dashboard, Buy/Sell, Shopping Cart, Checkout), Image Upload,
                  Authentication, and Paypal Checkout via
                  <span
                    class="tooltip"
                    data-tooltip="REST is based on representational state transfer (REST) technology, an architectural style and approach to communications often used in web services development."
                    >Restful-API
                  </span>
                  . Implements
                  <span class="tooltip" data-tooltip="(CRUD) are the four basic functions of persistent storage."
                    >CRUD
                  </span>
                  operations.
                </p>
                <ul div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1vh">
                  <li>
                    <a class="raise mat-elevation-z24" href="https://www.quora.com/What-exactly-is-Angular-2"
                      >Angular 2+</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/ASP.NET">Asp.net</a>
                  </li>
                  <li>
                    <a
                      class="raise mat-elevation-z24"
                      href="https://www.entityframeworktutorial.net/what-is-entityframework.aspx"
                      >EntityFramework</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server"
                      >Sql Server</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/Visual_Studio_Code"
                      >VS Code</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article>
          <div class="project-card audit">
            <div class="color-overlay mat-elevation-z24">
              <div class="project-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                <div class="project-header">
                  <h1 class="project-title">
                    Audit Management
                  </h1>
                </div>
                <div class="project-sub-title">
                  <h4 class="project-info">C#, SQL</h4>
                </div>

                <p class="project-desc">
                  <span
                    class="tooltip"
                    data-tooltip="(AINS propietary software is a case management solution designed to give you that control by optimizing your company’s contract filing process."
                    >Ecase
                  </span>
                  auditing web application allows users to efficiently manage aspects of audits' lifecycle. From annual
                  planning, to detailed risk assessment and controls testing, to action tracking and management
                  reporting, Audit streamlines the usr's OIG audit processes for greater productivity.
                </p>
                <ul div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1vh">
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/Microsoft_Visual_Studio"
                      >VS 2015</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://www.ains.com/enterprise-case-management/">eCase</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server"
                      >Sql Server</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article>
          <div class="project-card technobabel">
            <div class="color-overlay mat-elevation-z24">
              <div class="ribbon">
                <a href="https://github.com/hellochrisyou/Technobabel">Fork me on GitHub</a>
              </div>
              <div class="project-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                <div class="project-header">
                  <h1 class="project-title">
                    TechnoBabel
                  </h1>
                </div>
                <div class="project-sub-title">
                  <h4 class="project-info">C#, SQL</h4>
                </div>

                <p class="project-desc">
                  Mobile (<span
                    class="tooltip"
                    data-tooltip="Xamarin-cross platform: shared projects.  Shared projects contain code files and assets that are included in any project that references them. Share projects do not produce compiled output on their own."
                    >Cross-Platform </span
                  >) application that picks up terminologies spoken into the microphone via
                  <span
                    class="tooltip"
                    data-tooltip="(Google API) enables developers to convert audio to text by applying powerful neural network models in an easy-to-use API."
                    >Google-API </span
                  >, queries the database hosted on a cloud-platform, and returns the definition to the user.
                </p>
                <ul div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1vh">
                  <li>
                    <a class="raise mat-elevation-z24" href="https://visualstudio.microsoft.com/xamarin/">Xamarin</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/ASP.NET">Asp.net</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server"
                      >Sql Server</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="">Entity Framework</a>
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://azure.microsoft.com/en-us/overview/what-is-azure/"
                      >Azure</a
                    >
                  </li>
                  <li>
                    <a class="raise mat-elevation-z24" href="https://en.wikipedia.org/wiki/Microsoft_Visual_Studio"
                      >VS 2015</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
      <!-- .inner -->
      <div class="slider-dot-control">
        <label class="mat-elevation-z24" for="slide1"></label>
        <label class="mat-elevation-z24" for="slide2"></label>
        <label class="mat-elevation-z24" for="slide3"></label>
        <label class="mat-elevation-z24" for="slide4"></label>
        <label class="mat-elevation-z24" for="slide5"></label>
      </div>
      <!-- .slider-dot-control -->
    </div>
    <!-- .slider-wrapper -->
  </div>
</section>
